@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
  }
  .start-button {
    pointer-events: all;
    cursor: pointer;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.75px;
    width: 86px;
    background: silver;
    border: 2px solid brown;
    color: brown;
  }
  .start-button:hover {
    background: brown;
    border: 2px solid silver;
    color: silver;
  }
  .win-ui {
    display: none;
  }
  body.win .win-ui {
    box-sizing: border-box;
    display: block;
    width: 304px;
    height: 304px;
    position: absolute;
    
    /* account for body's margin */
    top: 8px;
    left: 8px;

    text-align: center;
    padding-top: 100px;
    h1 {
      font-family: Arial;
      font-size: 32px;
      line-height: 32px;
    }
    button {
      pointer-events: all;
      cursor: pointer;
      font-size: 18px;
      line-height: 32px;
      letter-spacing: 0.75px;
    }
  }
}
