@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
  }
  #wrapper {
    position: relative;
    margin: 0 auto;
    width: 304px;
  }
  .start-button {
    pointer-events: all;
    cursor: pointer;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.75px;
    width: 86px;
    background: silver;
    border: 2px solid brown;
    color: brown;
  }
  .start-button:hover {
    background: brown;
    border: 2px solid silver;
    color: silver;
  }
  .play-ui {
    margin: 30px auto 20px auto;
    h1, p{
      font-family: Arial;
      color: white;
      margin: 7px 3px;
      text-align: center;
    }
    h1 {
      font-size: 32px;
      line-height: 32px;
    }
    p {
      font-size: 16px;
      line-height: 16px;
    }
  }
  .win-ui {
    display: none;
  }
  body.win .win-ui {
    box-sizing: border-box;
    display: block;
    width: 304px;
    height: 304px;
    position: absolute;
    text-align: center;
    padding-top: 100px;
    h1 {
      font-family: Arial;
      font-size: 32px;
      line-height: 32px;
    }
    button {
      pointer-events: all;
      cursor: pointer;
      font-size: 18px;
      line-height: 32px;
      letter-spacing: 0.75px;
    }
  }
}
